<h1>Where We Are</h1>
	
<div class="row">
	<div class="col-xs-3">
	 <h3>Address</h3>
	 <address>
	   	Rccg Agape House<br>
	    6907 N Fisk Ave <br>
	    Kansas City, MO 64151<br>
		</address>
	 </div>
	<div class="col-xs-9">
		 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3091.02855747732!2d-94.65967468467407!3d39.21951713549733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f5f05103fead%3A0x21d2f25c03f1737!2s6908+N+Fisk+Ave%2C+Kansas+City%2C+MO+64151!5e0!3m2!1sen!2sus!4v1501851300494" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>