<h1>Agape House Kansas</h1>

<p>Thank you for visiting our website</p>

<div class="jumbotron">
  <h1 class="display-3"></h1>
  <p class="lead">Seeking God with Passion and Serving men with compassion</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
  <%= link_to "Contact Us", contact_us_path, class: "btn btn secondary btn.lg" %>
  </p>
</div>
