<!DOCTYPE html>
<html>
  <head>
    <title>Rccgagape</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	Copy
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  			<a class="navbar-brand" href="#">Navbar</a>
  				<div class="collapse navbar-collapse" id="navbarNavDropdown">
   				 <ul class="navbar-nav">
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      					</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">About</a>
      					</li>
      					<li class="nav-item">
       				 <a class="nav-link" href="#">Pastroal Office</a>
      				</li>
      				<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         		 <a class="dropdown-item" href="#">Events</a>
          	<a class="dropdown-item" href="#">Church Service Days</a>
          	<a class="dropdown-item" href="#">Donation</a>
        		</div>
      		</li>
    		</ul>
  		</div>
		</nav>

    <%= yield %>
  </body>
</html>
